.body_section {}

.container_section {
    margin-bottom: 15vh;

}

.box_container {
    display: 'flex';
    flex-direction: 'column';
}

.title_box {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
}

.description {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 60%;
    color: #9B9BAE;
    margin-bottom: 2vh;
}

.title {
    color: #343A40;
    font-weight: bolder;
    margin: 2vh
}